
// LANDING PAGE STYLE
//
// Page in construction.
//
// Still missing media queries to go from mobile to desktop.
// Sizes for now refer to the mobile version.
// Thinking about removing the top register button in the mobile version and leaving just the log in button for clarity.


// for now only the top of the landing page was implemented

*
  box-sizing: border-box



body
  background-color: #0F68A1
  margin: 0
  box-sizing: border-box


a
  text-decoration: none
  color: white


header
  heigth: 400px
  overflow: hidden
  padding: 20px
  display: flex
  align-items: center
  justify-content: flex-end
  justify-content: space-between


  // Logo a cambiar
  .logo
    float: left
    width: 60px
    height: 60px
    border-radius: 50%
    border: 7px solid white
    z-index: 3

  .header-right
    display: flex
    justify-content: flex-end
    align-items: center

  .logIn
    font-family: helvetica

  .register
    a
      display: flex
      font-family: helvetica
      text-decoration: none
      background-color: #239DE4
      padding: 8px
      border-radius: 5px
      box-shadow: 0 2px 5px rgba(0,0,0,0.30)
      margin-left: 20px
      display: none


// Top text alignment, center and padding.
.topText
  z-index: 2
  display: block-flex
  position: absolute
  justify-content: center
  width: 100%
  top: 225px

  // Registration button creation
  a
    background-color: #5DB348
    padding: 10px
    display: block
    width: 200px
    margin: 0 auto
    margin-top: 20px
    border-radius: 5px
    text-align: center
    color: white
    text-decoration: none
    font:
      family: helvetica
      weight: bold
    box-shadow: 0 5px 10px rgba(0,0,0,0.30)


h1
  font:
    size: 23px
    family: helvetica
    weight: bold
  text-align: center
  color: white
  line-height: 30px
  max-width: 700px
  margin: 0 auto
  margin-bottom: 10px
  padding: 10px

p
  font:
    family: helvetica
    size: 16px
  color: #ECECEC
  max-width: 600px
  text-align: center
  line-height: 24px
  margin: 0 auto
  padding: 10px
// FINISH: Top text alignment, center and padding.



// background circle and line building
.contenedorCirculo
  // centering and avoiding conflicts between circle and viewport
  display: flex
  width: 100vw
  height: 1000px
  overflow: hidden
  justify-content: center
  position: absolute
  z-index: 1


.circle
  width: 500px
  height: 500px
  border-radius: 50%
  border: 90px solid #0F6EA5
  position: absolute


.line
  width: 90px
  height: 900px
  background-color: #0F6EA5
  position: absolute
  top: 480px
// FINISH: background circle and line building


// MOCKUPS

// Dinamic diagonal container
.dinamic-diagonal-container
  width: 100vw
  height: 1300px
  background-color: #229EE6
  position: relative
  z-index: 4
  top: 900px
  box-shadow: o 2px 283px 1px rgba(0,0,0,0.18)
  overflow: hidden

.mockups-container
  position: relative
  top: 200px

.mockup-mac
  width: 350px
  display: block
  position: absolute
  top: 100px
  right: 0

.mockup-text
  position: relative
  top: 430px
  font:
    family: helvetica
    size: 22px
  color: white
  line-height: 30px

.mockup-ipad
  width: 350px
  display: block
  position: absolute
  float: left
  top: 600px

// END MOCKUPS
