body
  background-color: #0F68A1
  margin: 0

header
  height: 30px









// Top text alignment, center and padding.
.topText
  z-index: 2
  display: block-flex
  position: absolute
  justify-content: center
  width: 100%
  top: 240px

h1
  font:
    size: 23px
    family: helvetica
    weight: bold
  text-align: center
  color: white
  line-height: 30px
  max-width: 700px
  margin: 0 auto
  margin-bottom: 10px
  padding: 10px

p
  font:
    family: helvetica
    size: 16px
  color: #ECECEC
  max-width: 600px
  text-align: center
  line-height: 24px
  margin: 0 auto
  padding: 10px
// FINISH: Top text alignment, center and padding.



// background circle and line building
.contenedorCirculo
  display: flex
  justify-content: center
  position: relative

.circle
  width: 400px
  height: 400px
  border-radius: 50%
  border: 90px solid #0F6EA5
  position: absolute

.line
  width: 90px
  height: 900px
  background-color: #0F6EA5
  position: absolute
  top: 500px
// FINISH: background circle and line building
